NODE_ENV=development
PORT=4000

# Base de datos
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=sabueso_db

# JWT (usa cadenas largas y aleatorias en producción)
JWT_ACCESS_SECRET=cambia_este_secreto
JWT_REFRESH_SECRET=cambia_este_secreto
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# Frontend URL (CORS)
FRONTEND_URL=http://localhost:5173

# Archivos (local en desarrollo)
UPLOADS_DIR=uploads
MAX_FILE_SIZE_MB=5

# Email
MAIL_FROM=noreply@sabueso.hn
MAIL_HOST=smtp.ethereal.email
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=

# App
APP_NAME=Sabueso
APP_URL=http://localhost:4000
